{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}{% trans %} passwordchange {% endtrans %}{% endblock %}

{% block body %}
<h1>{% trans %} passwordchange {% endtrans %}</h1>

{# src/DatabaseBundle/Resources/view/user/edituser.html.twig #}
{% if changed %}
  {% trans %} changesuccess {% endtrans %}
{% endif %}

{{ form_start(userData) }}
<table style="width:100%">
  <tr>
    <td>
      {{ form_row(userData.username) }}
    </td>
  </tr>
  {% if wrongPassword %}
  <tr>
    <td>
        {% trans %} wrongpassword {% endtrans %}
    </td>
  </tr>
  {% endif %}
  <tr>
    <td>
      {{ form_row(userData.oldpassword) }}
    </td>
  </tr>
  <tr>
    <td>
      {{ form_row(userData.password) }}
    </td>
  </tr>
  <tr>
    <td>
      {{ form_row(userData.role) }}
    </td> 
  </tr>
  <tr>
    <td>
      {{ form_row(userData.save) }}
    </td>
  </tr>
</table>
{{ form_end(userData) }}
{% endblock %}
