{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}Editar miembro {% endblock %}

{% block body %}
<h1>Editar miembro</h1>

{# src/DatabaseBundle/Resources/views/Default/editperson.html.twig #}

<table style="width: 100%">
<tr>
  <th>Datos personales</th>
  {% if true == personalData.getIsPlayer() %}
    <th>Jugador</th>
  {% endif %}
  
  {% if true == personalData.getIsCoach() %}  
    <th>Entrenador</th>
  {% endif %}
  {% if true == personalData.getIsMember() %}
    <th>Socio</th>
  {% endif %}
  {% if true == personalData.getIsParent() %}
    <th>Padre</th>
  {%endif %}
</tr>
<tr>
  <td>
    {{ form(personalDataForm) }}
  </td>
  {% if true == personalData.getIsPlayer() %}
    <td>
      {{ form(playerDataForm) }}
    </td>
  {% endif %}
  {% if true == personalData.getIsCoach() %}  
    <td>
      {{ form(coachDataForm) }} 
    </td>
  {%endif %}
  {% if true == personalData.getIsMember() %}
    <td> 
      {{ form(memberDataForm) }}
    </td>
  {% endif%}
  {% if true == personalData.getIsParent() %}
    <td> 
      {{ form(parentDataForm) }}
    </td>
  {% endif%}
</tr>
</table>

<table>
  <tr>
    <td>
      <a href="/person/new"> Añadir miembro </a>
    </td>
    <td>
      <a href="/person/showAll"> Mostrar todos </a>
    </td>
    <td>
      <a href="/person/showPlayers"> Mostrar jugadores </a>
    </td>
    <td>
      <a href="/person/showSenior"> Equipo Senior </a>
    </td>
  </tr>
{% endblock %}
