{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %} {% trans %} importfile {% endtrans %} {% endblock %}

{% block body %}
<h1>{% trans %} importfile {% endtrans %}</h1>

<table>
  {{ form_start(fileImportForm) }}
  <tr>
    <td>
      {{ form_row(fileImportForm.pathToFile) }}
    </td>
    <td>
      {{ form_row(fileImportForm.content) }}
    </td>
    <td>
      {{ form_row(fileImportForm.upload) }}
    </td>
    <td>
      {{ form_row(fileImportForm.reset) }}
    </td>
  </tr>
  {% if success != null %}
  <tr>
    <td>
    {% if success %}
        {% trans %} importsuccess {% endtrans %}
    {% else %}
        {% trans %} importunsuccess {% endtrans %}
    {% endif %}
    </td>
  </tr>
  {% endif %}
  {{ form_end(fileImportForm) }}
</table>
{% endblock %}
