<div class="modal fade" id="addEntry" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="addEntryModalLabel">
            {% trans %} addjournal {% endtrans %}
        </h4>
        {{ form_start(journalForm) }}
            {{ form_row(journalForm.title) }}
            {{ form_row(journalForm.text) }}
            {{ form_row(journalForm.save) }}
        {{ form_end(journalForm) }}
      </div>
    </div>
  </div>
</div>
