{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}
  Mostrando a todos los padres
{% endblock %}

{% block body %}
<h1>Padres de la escuela</h1>
{% if seasonNumber == 0 %}
    <span> No se han añadido temporadas todavía. <a href="/season/newSeason">Añade una</a></span>
{% else %}
  {{ include ('DatabaseBundle:season:seasonform.html.twig') }}

  <table style="width: 100%">
  <tr>
    <th>Padre</th>
    <th>Hijo</th>
    <th>Categoría</th>
    <th>Número de teléfono</th>
    <th>Email</th>
  </tr>
  {% for data in parentData %}
    {% if data.getParentPerson().getIsParent() %}
        {% if  data.getPlayerData()|length > 0 %}
            {% for child in data.getPlayerData() %}
              <tr>
                <td> {{ data.getPersonalData().getName() }}
                     {{ data.getPersonalData().getSurname() }} </td>
                <td> {{ child.getPersonalData().getName() }}
                     {{ child.getPersonalData().getSurname() }} </td>
                <td> {{ child.getCategory()}} </td>
                <td> {% if data.getPersonalData().getContactData() %}
                        {{ data.getPersonalData().getContactData().getPhone() }} 
                     {% endif %}
                </td>
                <td> {% if data.getPersonalData().getContactData() %}
                        {{ data.getPersonalData().getContactData().getEmail() }}
                     {% endif %}
                </td>
                <td> <a href="/person/editPerson/{{data.getPersonalData().getId()}}/{{season.getId()}}"> Editar </a> </td>
                <td> <a href="/person/deleteFromParent/{{data.getPersonalData().getId()}}/{{season.getId()}}" onclick="return confirm('¿Estás seguro de querer a este padre de la lista?')"> Eliminar </a> </td>
              </tr>
            {% endfor %}
        {% else %}
            <tr>
              <td> {{ data.getPersonalData().getName() }}
                   {{ data.getPersonalData().getSurname() }} </td>
              <td> </td>
              <td> </td>
              <td> {% if data.getPersonalData().getContactData() %}
                      {{ data.getPersonalData().getContactData().getPhone() }} 
                   {% endif %}
              </td>
              <td> {% if data.getPersonalData().getContactData() %}
                      {{ data.getPersonalData().getContactData().getEmail() }}
                   {% endif %}
              </td>
              <td> <a href="/person/editPerson/{{data.getPersonalData().getId()}}/{{season.getId()}}"> Editar </a> </td>
              <td> <a href="/person/deleteFromParent/{{data.getPersonalData().getId()}}/{{season.getId()}}" onclick="return confirm('¿Estás seguro de querer borrar a este padre de la lista?')"> Eliminar </a> </td>
            </tr>
        {% endif %}
     {% endif %}
  {% endfor %}
  </table>
{% endif %}
{% endblock %}
