{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}
  Mostrando a todos los socios
{% endblock %}

{% block body %}
<h1>Socios del Club</h1>
{% if seasonNumber == 0%}
    <span> No se han añadido temporadas todavía. <a href="/season/newSeason">Añade una</a></span>
{% else %}
  {{ include ('DatabaseBundle:season:seasonform.html.twig') }}

  <table style="width: 100%">
  <tr>
    <th>Nombre y apellidos </th>
    <th>Número de socio</th>
    <th>Número de teléfono</th>
    <th>Email</th>
    <th>Pagos</th>
  </tr>

  {% for data in memberData %}
    {% if data.getMemberPerson().getIsMember() %}
    <tr>
      <td> {{ data.getPersonalData().getName() }}
           {{ data.getPersonalData().getSurname() }} </td>
      <td> {{ data.getMemberId() }} </td>
      <td> {% if data.getPersonalData().getContactData() %}
                {{ data.getPersonalData().getContactData().getPhone() }}
           {% endif %}
      </td>
      <td> {% if data.getPersonalData().getContactData() %}
                {{ data.getPersonalData().getEmail() }}
           {% endif %}
      </td>
      <td> {{ data.getPayment() }} </td>
      <td> <a href="/person/editPerson/{{data.getPersonalData().getId()}}/{{season.getId()}}"> Editar </a> </td>
      <td> <a href="/person/deleteFromMember/{{data.getPersonalData().getId()}}/{{season.getId()}}" onclick="return confirm('¿Estás seguro de querer borrar a este socio de la lista?')"> Eliminar </a> </td>
    </tr>
    {% endif %}
  {% endfor %}
  </table>
{% endif %}
{% endblock %}
