{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}
    {% trans %} showmembers {% endtrans %}
{% endblock %}

{% block body %}
<h1>
    {% trans %} showmembers {% endtrans %}
</h1>
{% if seasonNumber == 0%}
    <span> {% trans %} noseason {% endtrans %} <a href="/season/newSeason">{% trans %} addoneseason {% endtrans %}</a></span>
{% else %}
  {{ include ('DatabaseBundle:season:seasonform.html.twig') }}

  <table style="width: 100%">
  <tr>
  <th><strong>{% trans %} namesurname {% endtrans %}</strong></th>
  <th><strong>{% trans %} membernumber {% endtrans %}</strong></th>
  <th><strong>{% trans %} email {% endtrans %}</strong></th>
  <th><strong>{% trans %} phonenumber {% endtrans %}</strong></th>
  {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ACCOUNTING") %} 
      <th><strong>{% trans %} payments {% endtrans %}</strong></th>
  {% endif %}
  </tr>

  {% for data in memberData %}
    {% if data.getMemberPerson().getIsMember() %}
    {% set personalData = data.getMemberPerson().getPersonalData() %}
    <tr>
      <td> {{ personalData.getName() }}
           {{ personalData.getSurname() }} </td>
      <td> {{ data.getMemberId() }} </td>
      <td> {% if personalData.getContactData() %}
                {{ personalData.getContactData().getPhone() }}
           {% endif %}
      </td>
      <td> {% if personalData.getContactData() %}
                {{ personalData.getEmail() }}
           {% endif %}
      </td>
      {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ACCOUNTING") %} 
        <td> {{ data.getPayment() }} </td>
      {% endif %}
      <td> <a href="/person/editPerson/{{personalData.getId()}}/{{season.getId()}}"> Editar </a> </td>
      <td> <a href="/person/deleteFromMember/{{personalData.getId()}}/{{season.getId()}}" onclick="return confirm('¿Estás seguro de querer borrar a este socio de la lista?')"> Eliminar </a> </td>
    </tr>
    {% endif %}
  {% endfor %}
  </table>
{% endif %}
{% endblock %}
