{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}
  {% trans %} showall {% endtrans %}
{% endblock %}

{% block body %}
<h1>
  {% trans %} showall {% endtrans %}
</h1>
<table style="width: 100%">
<tr>
  <th><strong>{% trans %} name {% endtrans %}</strong></th>
  <th><strong>{% trans %} surname {% endtrans %}</strong></th>
  <th><strong>{% trans %} nickname {% endtrans %}</strong></th>
  <th><strong>{% trans %} email {% endtrans %}</strong></th>
  <th><strong>{% trans %} phonenumber {% endtrans %}</strong></th>
</tr>
{% for data in personalData %}
  <tr>
    <td> {{ data.getName() }} </td>
    <td> {{ data.getSurname() }} </td>
    <td> {{ data.getNickname() }} </td>
    <td> {% if data.getContactData() %}
            {{ data.getContactData().getEmail() }} 
         {% endif %}
    </td>
    <td> {% if data.getContactData() %}
            {{ data.getContactData().getPhone() }}
         {% endif %}
    </td>
    <td> <a href="/person/editPerson/{{data.getId()}}/{{season.getId()}}"> {% trans %} edit {% endtrans %} </a> </td>
    <td> <a href="/person/deletePerson/{{data.getId()}}" onclick="return confirm('¿Estás seguro de querer borrar este miembro?')"> {% trans %} delete {% endtrans %} </a> </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
