{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}
  Mostrando a todos los padres
{% endblock %}

{% block body %}
<h1>Padres de la escuela</h1>
{% if seasonNumber == 0 %}
    <span> No se han añadido temporadas todavía. <a href="/season/newSeason">Añade una</a></span>
{% else %}
  {{ form_start(seasonForm) }}
  <table>
    <td> {{ form_row(seasonForm.season) }} </td>
    <td> {{ form_row(seasonForm.save) }} </td>
  </table>
  {{ form_end(seasonForm) }}
  <table style="width: 100%">
  <tr>
    <th>Padre</th>
    <th>Hijo</th>
    <th>Categoría</th>
    <th>Número de teléfono</th>
    <th>Email</th>
  </tr>
  {% for data in parentData %}
    {% for child in data.getPlayerData() %}
      <tr>
        <td> {{ data.getWholePerson().getPersonalData().getName() }}
             {{ data.getWholePerson().getPersonalData().getSurname() }} </td>
        <td> {{ child.getWholePerson().getPersonalData().getName() }}
             {{ child.getWholePerson().getPersonalData().getSurname() }} </td>
        <td> {{ child.getCategory()}} </td>
        <td> {{ data.getWholePerson().getPersonalData().getPhone() }} </td>
        <td> {{ data.getWholePerson().getPersonalData().getEmail() }} </td>
        <td> <a href="/person/editPerson/{{data.getWholePerson().getId()}}/{{season.getId()}}"> Editar </a> </td>
        <td> <a href="/person/deleteFromParent/{{data.getId()}}/{{season.getId()}}" onclick="return confirm('¿Estás seguro de querer eliminar a este padre?')"> Eliminar </a> </td>
      </tr>
    {% endfor %}
  {% endfor %}
  </table>
{% endif %}
{% endblock %}
