{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}
  Mostrando a todos los socios
{% endblock %}

{% block body %}
<h1>Socios del Club</h1>
{% if seasonNumber == 0%}
    <span> No se han añadido temporadas todavía. <a href="/season/newSeason">Añade una</a></span>
{% else %}
  {{ form(seasonForm) }}
  <table style="width: 100%">
  <tr>
    <th>Nombre y apellidos </th>
    <th>Número de socio</th>
    <th>Número de teléfono</th>
    <th>Email</th>
    <th>Pagos</th>
  </tr>

  {% for data in memberData %}
    <tr>
      <td> {{ data.getWholePerson().getPersonalData().getName() }}
           {{ data.getWholePerson().getPersonalData().getSurname() }} </td>
      <td> {{ data.getMemberId() }} </td>
      <td> {{ data.getWholePerson().getPersonalData().getPhone() }} </td>
      <td> {{ data.getWholePerson().getPersonalData().getEmail() }} </td>
      <td> {{ data.getPayment() }} </td>
      <td> <a href="/person/editPerson/{{data.getWholePerson().getId()}}"> Editar </a> </td>
      <td> <a href="/person/deletePerson/{{data.getWholePerson().getId()}}" onclick="return confirm('¿Estás seguro de querer borrar este miembro?')"> Eliminar </a> </td>
    </tr>
  {% endfor %}
  </table>
{% endif %}
{% endblock %}
