{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}
{% if edit %}
  {% trans %} edituser {% endtrans %}
{% else %}
  {% trans %} adduser {% endtrans %}
{% endif %}
{% endblock %}

{% block body %}
<h1>
{% if edit %}
  {% trans %} edituser {% endtrans %}
{% else %}
  {% trans %} adduser {% endtrans %}
{% endif %}
</h1>

{# src/DatabaseBundle/Resources/view/admin/newuser.html.twig #}

{{ form_start(userData) }}
<table style="width:100%">
  <tr>
    <td>
      {{ form_row(userData.username) }}
    </td>
  <tr>
  <tr>
    {#% if edit == false %#}
    <td>
      {{ form_row(userData.password) }}
    </td>
    {#% endif %#} 
  <tr>
    <td>
      {{ form_row(userData.role) }}
    </td> 
  </tr>
</table>
{{ form_end(userData) }}
{% endblock %}
