{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}
  Mostrando equipo {{teamName}}
{% endblock %}

{% block body %}
<h1>Miembros del {{teamName}}</h1>
{% if seasonNumber == 0 %}
    <span> No se han añadido temporadas todavía. <a href="/season/newSeason">Añade una</a></span>
{% else %}
  {{ form_start(seasonForm) }}
  <table>
    <td> {{ form_row(seasonForm.season) }} </td>
    <td> {{ form_row(seasonForm.save) }} </td>
  </table>
  {{ form_end(seasonForm) }}
  <table style="width: 100%">
  {{ include(
      'DatabaseBundle:base:team_header.html.twig') }}
  {% for data in playerData %}
    <tr>
      <td> {{ data.getWholePerson().getPersonalData().getName() }}
         {{ data.getWholePerson().getPersonalData().getSurname() }} </td>
      <td> {{ data.getWholePerson().getPersonalData().getNickname() }} </td>
      <td> {{ data.getWholePerson().getPersonalData().getEmail() }} </td>
      <td> {{ data.getWholePerson().getPersonalData().getPhone() }} </td>
      <td> {{ data.getPayment() }} </td>
      <td> <a href="/person/editPerson/{{data.getWholePerson().getId()}}/{{season.getId()}}"> Editar </a> </td>
      <td> <a href="/person/deleteFromTeam/{{data.getId()}}/{{season.getId()}}/0" onclick="return confirm('¿Estás seguro de querer eliminar al jugardor de este equipo?')"> Eliminar </a> </td>
    </tr>
  {% endfor %}
  {% for data in coachData %}
    <tr>
      <td> {{ data.getWholePerson().getPersonalData().getName() }}
           {{ data.getWholePerson().getPersonalData().getSurname() }} (Entrenador) </td>
      <td> {{ data.getWholePerson().getPersonalData().getNickname() }} </td>
      <td> {{ data.getWholePerson().getPersonalData().getEmail() }} </td>
      <td> {{ data.getWholePerson().getPersonalData().getPhone() }} </td>
      <td> {{ data.getSalary() }} </td>
      <td> <a href="/person/editPerson/{{data.getWholePerson().getId()}}/{{season.getId()}}"> Editar </a> </td>
      <td> <a href="/person/deletePerson/{{data.getId()}}/{{season.getId()}}/1" onclick="return confirm('¿Estás seguro de querer eliminar al entrenador de este equipo?')"> Eliminar </a> </td>
    </tr>
  {% endfor %}
  </table>
{% endif %}
{% endblock %}
