{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}
  {% trans %} showteam {% endtrans %} {{teamName}}
{% endblock %}

{% block body %}
<h1>{% trans %} membersof {% endtrans %} {{teamName}}</h1>
{% if seasonNumber == 0 %}
    <span> {% trans %} noseason {% endtrans %} <a href="/season/newSeason">{% trans %} addoneseason {% endtrans %}</a></span>
{% else %}
  {{ include ('DatabaseBundle:season:seasonform.html.twig') }}

  <span> {% trans %} totalplayers {% endtrans %} {{ totalPlayers }}</span>
  <table style="width: 100%">
  {{ include(
      'DatabaseBundle:base:team_header.html.twig') }}
  {% for data in playerData %}
    {% if data.getPlayerPerson().getIsPlayer() %}
        <tr>
          <td> {{ data.getPersonalData().getName() }}
             {{ data.getPersonalData().getSurname() }} </td>
          <td> {{ data.getPersonalData().getNickname() }} </td>
          <td> {{ data.getNumber() }} </td>
          <td> {% if data.getPersonalData().getContactData() %}
                  {{ data.getPersonalData().getContactData().getEmail() }}
               {% endif %}
          </td>
          <td> {% if data.getPersonalData().getContactData() %}
                  {{ data.getPersonalData().getContactData().getPhone() }}        {% endif %}
          </td>
          {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ACCOUNTING") %}
            {% if data.getPay() != NULL %}
              <td> {{ data.getPay().getTotalAmount() }} </td>
            {% else %}
              <td> 0 </td>
            {% endif %}
          {% endif %}
          <td> <a href="/person/editPerson/{{data.getPersonalData().getId()}}/{{season.getId()}}"> {% trans %} edit {% endtrans %} </a> </td>
          <td> <a href="/person/deleteFromTeam/{{data.getPersonalData().getId()}}/{{season.getId()}}/0" onclick="return confirm('¿Estás seguro de querer borrar a este jugador del equipo?')"> {% trans %} delete {% endtrans %} </a> </td>
        </tr>
    {% endif %}
  {% endfor %}
  {% if showCoaches %}
    {% for data in coachData %}
      {% if data.getCoachPerson().getIsCoach() %}
          <tr>
            <td> {{ data.getPersonalData().getName() }}
                 {{ data.getPersonalData().getSurname() }} ({% trans %} coach {% endtrans %}) </td>
            <td> {{ data.getPersonalData().getNickname() }} </td>
            <td> {{ data.getNumber() }} </td>
            <td> {{ data.getPersonalData().getEmail() }} </td>
            <td> {{ data.getPersonalData().getPhone() }} </td>
            {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ACCOUNTING") %}
              <td> {{ data.getSalary() }} </td>
            {% endif %}
            <td> <a href="/person/editPerson/{{data.getPersonalData().getId()}}/{{season.getId()}}"> {% trans %} edit {% endtrans %} </a> </td>
            <td> <a href="/person/deleteFromTeam/{{data.getPersonalData().getId()}}/{{season.getId()}}/1" onclick="return confirm('¿Estás seguro de querer borrar a este entrenador del equipo?')"> {% trans %} delete {% endtrans %} </a> </td>
          </tr>
      {% endif %}
    {% endfor %}
  {% endif %}
  </table>
  {% for i in range(1, counting) %}
      <a href="/team/show{{teamName}}/{{i}}"> {{ i }} </a>
  {% endfor %}
{% endif %}
{% endblock %}
