{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}
  {% trans %} showteam {% endtrans %} {{teamName}}
{% endblock %}

{% block body %}
<h1>Miembros del {{teamName}}</h1>
{% if seasonNumber == 0 %}
    <span> {% trans %} noseason {% endtrans %} <a href="/season/newSeason">{% trans %} addoneseason {% endtrans %}</a></span>
{% else %}
  {{ include ('DatabaseBundle:season:seasonform.html.twig') }}

  <table style="width: 100%">
  {{ include(
      'DatabaseBundle:base:young_team_header.html.twig') }}
  {% for data in playerData %}
    {% set personalData = data.getPlayerPerson().getPersonalData() %}
    {% if not data.getParentData().isEmpty()  %}
      {% for parent in data.getParentData() %}
        {% set parentPersonalData = parent.getParentPerson().getPersonalData() %}
        <tr>
          <td> {{ personalData.getName() }}
               {{ personalData.getSurname() }} </td>
          <td> {{ personalData.getNickname() }} </td>
          <td> {{ data.getNumber() }} </td>
          <td> {{ parent.PersonalData().getName() }}
               {{ parent.PersonalData().getSurname() }} </td>
          <td> {% if personalData.getContactData() %}
                  {{ personalData.getContactData().getPhone() }}
               {% endif %}
          </td>
          {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ACCOUNTING") %}
            {% if data.getPay() != NULL %}
              <td> {{ data.getPay().getTotalAmount() }} </td>
            {% else %}
              <td> 0 </td>
            {% endif %}
          {% endif %}
          <td> <a href="/person/editPerson/{{personalData.getId()}}/{{season.getId()}}"> Editar </a> </td>
          <td> <a href="/person/deleteFromTeam/{{personalData.getId()}}/{{season.GetId()}}/0" onclick="return confirm('¿Estás seguro de querer borrar a este jugador del equipo?')"> Eliminar </a> </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td> {{ personalData.getName() }}
             {{ personalData.getSurname() }} </td>
        <td> {{ personalData.getNickname() }} </td>
        <td> {{ data.getNumber() }} </td>
        <td> </td>
        <td> {{ personalData.getPhone() }} </td>
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ACCOUNTING") %}
            {% if data.getPay() != NULL %}
                <td> {{ data.getPay().getTotalAmount() }} </td>
            {% else %}
                <td> 0 </td>
            {% endif %}
        {% endif %}
        <td> <a href="/person/editPerson/{{personalData.getId()}}/{{season.getId()}}"> Editar </a> </td>
        <td> <a href="/person/deleteFromTeam/{{personalData.getId()}}/{{season.getId()}}/0" onclick="return confirm('¿Estás seguro de querer borrar este jugador del equipo?')"> Eliminar </a> </td>
    {% endif %}
  {% endfor %}
  {% if showCoaches %}
    {% for data in coachData %}
      {% set personalData = data.getCoachPerson().getPersonalData() %}
      <tr>
        <td> {{ personalData.getName() }}
             {{ personalData.getSurname() }} ({% trans %} coach {% endtrans %}) </td>
        <td> {{ personalData.getNickname() }} </td>
        <td> {{ data.getNumber() }} </td>
        <td> {{ personalData.getEmail() }} </td>
        <td> {{ personalData.getPhone() }} </td>
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ACCOUNTING") %}
           <td> {{ data.getSalary() }} </td>
        {% endif %}
        <td> <a href="/person/editPerson/{{personalData.getId()}}/{{season.getId()}}"> Editar </a> </td>
        <td> <a href="/person/deleteFromTeam/{{personalData.getId()}}/{{season.getId()}}/1" onclick="return confirm('¿Estás seguro de querer borrar a este entrenador del equipo?')"> Eliminar </a> </td>
      </tr>
    {% endfor %}
  {% endif %}
  </table>
  {% for i in range(1, counting) %}
      <a href="/team/show{{teamName}}/{{i}}"> {{ i }} </a>
  {% endfor %}
{% endif %}
{% endblock %}
