{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}
  Mostrando equipo {{teamName}}
{% endblock %}

{% block body %}
<h1>Miembros del {{teamName}}</h1>
{% if seasonNumber == 0 %}
    <span> No se han añadido temporadas todavía. <a href="/season/newSeason">Añade una</a></span>
{% else %}
  {{ include ('DatabaseBundle:season:seasonform.html.twig') }}

  <table style="width: 100%">
  {{ include(
      'DatabaseBundle:base:young_team_header.html.twig') }}
  {% for data in playerData %}
    {% if not data.getParentData().isEmpty()  %}
      {% for parent in data.getParentData() %}
        <tr>
          <td> {{ data.getPersonalData().getName() }}
               {{ data.getPersonalData().getSurname() }} </td>
          <td> {{ data.getPersonalData().getNickname() }} </td>
          <td> {{ data.getNumber() }} </td>
          <td> {{ parent.getPersonalData().getName() }}
               {{ parent.getPersonalData().getSurname() }} </td>
          <td> {% if data.getPersonalData().getContactData() %}
                  {{ data.getPersonalData().getContactData().getPhone() }}
               {% endif %}
          </td>
          {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ACCOUNTING") %}
            {% if data.getPay() != NULL %}
              <td> {{ data.getPay().getTotalAmount() }} </td>
            {% else %}
              <td> 0 </td>
            {% endif %}
          {% endif %}
          <td> <a href="/person/editPerson/{{data.getPersonalData().getId()}}/{{season.getId()}}"> Editar </a> </td>
          <td> <a href="/person/deleteFromTeam/{{data.getPersonalData().getId()}}/{{season.GetId()}}/0" onclick="return confirm('¿Estás seguro de querer borrar a este jugador del equipo?')"> Eliminar </a> </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td> {{ data.getPersonalData().getName() }}
             {{ data.getPersonalData().getSurname() }} </td>
        <td> {{ data.getPersonalData().getNickname() }} </td>
        <td> {{ data.getNumber() }} </td>
        <td> </td>
        <td> {{ data.getPersonalData().getPhone() }} </td>
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ACCOUNTING") %}
            {% if data.getPay() != NULL %}
                <td> {{ data.getPay().getTotalAmount() }} </td>
            {% else %}
                <td> 0 </td>
            {% endif %}
        {% endif %}
        <td> <a href="/person/editPerson/{{data.getPersonalData().getId()}}/{{season.getId()}}"> Editar </a> </td>
        <td> <a href="/person/deleteFromTeam/{{data.getPersonalData().getId()}}/{{season.getId()}}/0" onclick="return confirm('¿Estás seguro de querer borrar este jugador del equipo?')"> Eliminar </a> </td>
    {% endif %}
  {% endfor %}
  {% for data in coachData %}
    <tr>
      <td> {{ data.getPersonalData().getName() }}
           {{ data.getPersonalData().getSurname() }} (Entrenador) </td>
      <td> {{ data.getPersonalData().getNickname() }} </td>
      <td> {{ data.getNumber() }} </td>
      <td> {{ data.getPersonalData().getEmail() }} </td>
      <td> {{ data.getPersonalData().getPhone() }} </td>
      {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ACCOUNTING") %}
         <td> {{ data.getSalary() }} </td>
      {% endif %}
      <td> <a href="/person/editPerson/{{data.getPersonalData().getId()}}/{{season.getId()}}"> Editar </a> </td>
      <td> <a href="/person/deleteFromTeam/{{data.getPersonalData().getId()}}/{{season.getId()}}/1" onclick="return confirm('¿Estás seguro de querer borrar a este entrenador del equipo?')"> Eliminar </a> </td>
    </tr>
  {% endfor %}
  </table>
{% endif %}
{% endblock %}
