{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}
  Mostrando equipo {{teamName}}
{% endblock %}

{% block body %}
<h1>Miembros del {{teamName}}</h1>
{% if seasonNumber == 0 %}
    <span> No se han añadido temporadas todavía. <a href="/season/newSeason">Añade una</a></span>
{% else %}
  {{ include ('DatabaseBundle:season:seasonform.html.twig') }}

  <table style="width: 100%">
  {{ include(
      'DatabaseBundle:base:team_header.html.twig') }}
  {% for data in playerData %}
    <tr>
      <td> {{ data.getPersonalData().getName() }}
         {{ data.getPersonalData().getSurname() }} </td>
      <td> {{ data.getPersonalData().getNickname() }} </td>
      <td> {{ data.getNumber() }} </td>
      <td> {{ data.getPersonalData().getEmail() }} </td>
      <td> {{ data.getPersonalData().getPhone() }} </td>
      <td> {{ data.getPayment() }} </td>
      <td> <a href="/person/editPerson/{{data.getId()}}/{{season.getId()}}"> Editar </a> </td>
      <td> <a href="/person/deletePerson/{{data.getId()}}" onclick="return confirm('¿Estás seguro de querer borrar este miembro?')"> Eliminar </a> </td>
    </tr>
  {% endfor %}
  {% for data in coachData %}
    <tr>
      <td> {{ data.getPersonalData().getName() }}
           {{ data.getPersonalData().getSurname() }} (Entrenador) </td>
      <td> {{ data.getPersonalData().getNickname() }} </td>
      <td> {{ data.getNumber() }} </td>
      <td> {{ data.getPersonalData().getEmail() }} </td>
      <td> {{ data.getPersonalData().getPhone() }} </td>
      <td> {{ data.getSalary() }} </td>
      <td> <a href="/person/editPerson/{{data.getId()}}/{{season.getId()}}"> Editar </a> </td>
      <td> <a href="/person/deletePerson/{{data.getId()}}" onclick="return confirm('¿Estás seguro de querer borrar este miembro?')"> Eliminar </a> </td>
    </tr>
  {% endfor %}
  </table>
{% endif %}
{% endblock %}
