{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}Editar miembro{% endblock %}

{% block body %}
<h1>Editar miembro</h1>

{# src/DatabaseBundle/Resources/views/Default/editperson.html.twig #}
{{ form_start(seasonForm) }}
<table>
  <td> {{ form_row(seasonForm.season) }} </td>
  <td> {{ form_row(seasonForm.save) }} </td>
</table>
{{ form_end(seasonForm) }}

{{ form_start(wholePersonForm) }}
<table>
<tr>
  <th>Datos personales</th>
  {% if true == personalData.getIsPlayer() %}
    <th>Jugador</th>
  {% endif %}
  {% if true == personalData.getIsCoach() %}  
    <th>Entrenador</th>
  {% endif %}
  {% if true == personalData.getIsMember() %}
    <th>Socio</th>
  {% endif %}
  {% if true == personalData.getIsParent() %}
    <th>Padre</th>
  {%endif %}
</tr>
<tr>
  <td>
    {{ form_row(wholePersonForm.personalData) }}
  </td>
  {% if true == personalData.getIsPlayer() %}
    <td>
      {{ form_row(wholePersonForm.playerData) }}
    </td>
  {% endif %}
  {% if true == personalData.getIsCoach() %}  
    <td>
      {{ form_row(wholePersonForm.coachData) }} 
    </td>
  {%endif %}
  {% if true == personalData.getIsMember() %}
    <td> 
      {{ form_row(wholePersonForm.memberData) }}
    </td>
  {% endif%}
  {% if true == personalData.getIsParent() %}
    <td> 
      {{ form_row(wholePersonForm.parentData) }}
    </td>
  {% endif%}
</tr>
<tr>
  <td>
      {{ form_row(wholePersonForm.save) }}
  </td>
</tr>
</table>
{{ form_end(wholePersonForm) }}
{% endblock %}
