{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}{{ personalData.name }} {{ personalData.surname }} {% endblock %}

{% block body %}
<h1>{{ personalData.name }} {{ personalData.surname }}</h1>

{# src/DatabaseBundle/Resources/views/Default/editperson.html.twig #}
{{ form_start(seasonForm) }}
<table>
  <td> {{ form_row(seasonForm.season) }} </td>
  <td> {{ form_row(seasonForm.save) }} </td>
</table>
{{ form_end(seasonForm) }}

{{ form_start(wholePersonForm) }}
<table>
<tr>
  <th>Datos personales</th>
  {% if personalData.getIsPlayer() %}
    <th>Jugador</th>
  {% endif %}
  {% if personalData.getIsCoach() %}  
    <th>Entrenador</th>
  {% endif %}
  {% if personalData.getIsMember() %}
    <th>Socio</th>
  {% endif %}
  {% if personalData.getIsParent() %}
    <th>Padre</th>
  {%endif %}
</tr>
<tr>
  <td>
    {{ form_row(wholePersonForm.personalData) }}
  </td>
  {% if personalData.getIsPlayer() %}
    <td>
      {% for formData in wholePersonForm.playerData %}
        {% if formData.vars.value.season.seasontext == curSeason %}
            {{ form_row(formData.payment) }}
            {{ form_row(formData.category) }} 
            {{ form_row(formData.season) }}
        {% else %} 
          {{ form_widget(formData, 
              { 'attr': {'style': 'display:none'} })
          }}
        {% endif %}
      {% endfor %}
    </td>
  {% endif %}
  {% if personalData.getIsCoach() %}  
    <td>
      {% for formData in wholePersonForm.coachData %}
        {% if formData.vars.value.season.seasontext == curSeason %}
            {{ form_row(formData.salary) }}
            {{ form_row(formData.category) }} 
            {{ form_row(formData.season) }}
        {% else %} 
          {{ form_widget(formData, 
              { 'attr': {'style': 'display:none'} })
          }}
        {% endif %}
      {% endfor %}
    </td>
  {%endif %}
  {% if personalData.getIsMember() %}
    <td> 
      {% for formData in wholePersonForm.memberData %}
        {% if formData.vars.value.season.seasontext == curSeason %}
            {{ form_row(formData.memberId) }}
            {{ form_row(formData.payment) }} 
            {{ form_row(formData.season) }}
        {% else %} 
          {{ form_widget(formData, 
              { 'attr': {'style': 'display:none'} })
          }}
        {% endif %}
      {% endfor %}
    </td>
  {% endif%}
  {% if personalData.getIsParent() %}
    <td> 
      {% for formData in wholePersonForm.parentData %}
        {% if formData.vars.value.season.seasontext == curSeason %}
            {{ form_row(formData.season) }}
            {{ form_row(formData.playerdata) }}
        {% else %} 
          {{ form_widget(formData, 
              { 'attr': {'style': 'display:none'} })
          }}
        {% endif %}
      {% endfor %}
    </td>
  {% endif%}
</tr>
<tr>
  <td>
      {{ form_row(wholePersonForm.save) }}
  </td>
</tr>
</table>
{{ form_end(wholePersonForm) }}
{% endblock %}
