{% extends 'DatabaseBundle:base:base.html.twig' %}
{% block title %}{{ personalData.name }} {{ personalData.surname }} {% endblock %}

{% block body %}
<h1>{{ personalData.name }} {{ personalData.surname }}</h1>
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/newpayment.js') }}"></script>

{# src/DatabaseBundle/Resources/views/Default/editperson.html.twig #}
{{ include('DatabaseBundle:season:seasonform.html.twig') }}
{{ form_start(personalDataForm) }}
<table>
<tr>
  <th>Datos personales</th>
  {% if personalData.getIsPlayer() %}
    <th>Jugador</th>
  {% endif %}
  {% if personalData.getIsCoach() %}  
    <th>Entrenador</th>
  {% endif %}
  {% if personalData.getIsMember() %}
    <th>Socio</th>
  {% endif %}
  {% if personalData.getIsParent() %}
    <th>Padre</th>
  {%endif %}
</tr>
<tr>
  <td>
    {{ form_row(personalDataForm.name) }}
    {{ form_row(personalDataForm.surname) }}
    {{ form_row(personalDataForm.nickname) }}
    {{ form_row(personalDataForm.dni) }}
    {{ form_row(personalDataForm.birthday) }}
    {{ form_row(personalDataForm.sex) }}
  <hr>
    {{ form_row(personalDataForm.contactData.phone) }}
    {{ form_row(personalDataForm.contactData.email) }}
    {{ form_row(personalDataForm.contactData.address) }}
    {{ form_row(personalDataForm.contactData.city) }}
    {{ form_row(personalDataForm.contactData.zipcode) }}
    {{ form_row(personalDataForm.contactData.province) }}
  <hr>
    {{ form_row(personalDataForm.isPlayer) }}
    {{ form_row(personalDataForm.isCoach) }}
    {{ form_row(personalDataForm.isParent) }}
    {{ form_row(personalDataForm.isMember) }}
  </td>
  {% if personalData.getIsPlayer() %}
    <td>
      {% for formData in personalDataForm.playerData %}
        {% if formData.vars.value.season.seasontext == curSeason %}
            {{ form_row(formData.number) }}
            {{ form_row(formData.category) }} 
            {{ form_row(formData.season) }}
            {{ form_row(formData.pay.wayOfPay) }}
            {{ form_row(formData.pay.totalAmount) }}
            <ul class="payments" data-prototype="{{ form_widget(formData.pay.payment.vars.prototype)|e('html_attr') }}">
            {% for payment in formData.pay.payment %}
              <li>{{ form_row(payment.person) }}
              {{ form_row(payment.accountNumber) }}
              {{ form_row(payment.amountPayed) }}
              {{ form_row(payment.paymentDate) }}</li>
              <br>
            {% endfor %}
            </ul>
        {% else %} 
          {{ form_widget(formData, 
              { 'attr': {'style': 'display:none'} })
          }}
        {% endif %}
      {% endfor %}
    </td>
  {% endif %}
  {% if personalData.getIsCoach() %}  
    <td>
      {% for formData in personalDataForm.coachData %}
        {% if formData.vars.value.season.seasontext == curSeason %}
            {{ form_row(formData.number) }}
            {{ form_row(formData.salary) }}
            {{ form_row(formData.category) }} 
            {{ form_row(formData.season) }}
        {% else %} 
          {{ form_widget(formData, 
              { 'attr': {'style': 'display:none'} })
          }}
        {% endif %}
      {% endfor %}
    </td>
  {%endif %}
  {% if personalData.getIsMember() %}
    <td> 
      {% for formData in personalDataForm.memberData %}
        {% if formData.vars.value.season.seasontext == curSeason %}
            {{ form_row(formData.memberId) }}
            {{ form_row(formData.payment) }} 
            {{ form_row(formData.season) }}
        {% else %} 
          {{ form_widget(formData, 
              { 'attr': {'style': 'display:none'} })
          }}
        {% endif %}
      {% endfor %}
    </td>
  {% endif%}
  {% if personalData.getIsParent() %}
    <td> 
      {% for formData in personalDataForm.parentData %}
        {% if formData.vars.value.season.seasontext == curSeason %}
            {{ form_row(formData.season) }}
            {{ form_row(formData.playerdata) }}
        {% else %} 
          {{ form_widget(formData, 
              { 'attr': {'style': 'display:none'} })
          }}
        {% endif %}
      {% endfor %}
    </td>
  {% endif%}
</tr>
<tr>
  <td>
      {{ form_row(personalDataForm.save) }}
  </td>
</tr>
</table>
{{ form_end(personalDataForm) }}
{% endblock %}
