{% extends 'DatabaseBundle:base:base.html.twig' %}
{% block title %}{{ personalData.name }} {{ personalData.surname }} {% endblock %}

{% block body %}
<h1>{{ personalData.name }} {{ personalData.surname }}</h1>
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/newpayment.js') }}"></script>

{# src/DatabaseBundle/Resources/views/Default/editperson.html.twig #}
{{ include('DatabaseBundle:season:seasonform.html.twig') }}
<table>
<td><a href="#">Principal</a></td>
<td><a href="/pictures">Imágenes</a></td>
{{ form_start(personalDataForm) }}
<table>
<tr>
  <th>Datos personales</th>
  {% for formData in personalDataForm.playerPerson %}
      {% if formData.vars.value.playerData.season.seasontext == curSeason %}
        <th>{{ form_row(formData.isPlayer) }}</th>
      {% else %} 
        {{ form_widget(formData, 
            { 'attr': {'style': 'display:none'} })
        }}
      {% endif %}
  {% endfor %}
  {% for formData in personalDataForm.coachPerson %}
      {% if formData.vars.value.coachData.season.seasontext == curSeason %}
        <th>{{ form_row(formData.isCoach) }}</th>
      {% else %} 
        {{ form_widget(formData, 
            { 'attr': {'style': 'display:none'} })
        }}
      {% endif %}
  {% endfor %}
  {% for formData in personalDataForm.memberPerson %}
      {% if formData.vars.value.memberData.season.seasontext == curSeason %}
        <th>{{ form_row(formData.isMember) }}</th>
      {% else %} 
        {{ form_widget(formData, 
            { 'attr': {'style': 'display:none'} })
        }}
      {% endif %}
  {% endfor %}
  {% for formData in personalDataForm.parentPerson %}
      {% if formData.vars.value.parentData.season.seasontext == curSeason %}
        <th>{{ form_row(formData.isParent) }}</th>
      {% else %} 
        {{ form_widget(formData, 
            { 'attr': {'style': 'display:none'} })
        }}
      {% endif %}
  {% endfor %}
</tr>
<tr>
  <td>
    {{ form_row(personalDataForm.name) }}
    {{ form_row(personalDataForm.surname) }}
    {{ form_row(personalDataForm.nickname) }}
    {{ form_row(personalDataForm.dni) }}
    {{ form_row(personalDataForm.birthday) }}
    {{ form_row(personalDataForm.sex) }}
  <hr>
    {{ form_row(personalDataForm.contactData.phone) }}
    {{ form_row(personalDataForm.contactData.email) }}
    {{ form_row(personalDataForm.contactData.address) }}
    {{ form_row(personalDataForm.contactData.city) }}
    {{ form_row(personalDataForm.contactData.zipcode) }}
    {{ form_row(personalDataForm.contactData.province) }}
  </td>
  <td>
  {% for formData in personalDataForm.playerData %}
      {% if formData.vars.value.playerPerson.isPlayer == true and formData.vars.value.season.seasontext == curSeason %}
          {{ form_row(formData.number) }}
          {{ form_row(formData.category) }} 
          {{ form_row(formData.season) }}
          {% if underage == 'true' %}
              {{ form_row(formData.parentdata) }}
          {% endif %}
          {{ form_row(formData.pay.wayOfPayment, 
                {'attr': {'onchange': 'return submit();' }})
          }}
          {{ form_row(formData.pay.totalAmount,
                {'attr': {'onchange': 'return submit();' }}) 
          }}
          {% if isBank == 'true' %}
              {{ form_row(formData.pay.person) }}
              {{ form_row(formData.pay.accountNumber) }}
          {% else %} 
              {{ form_widget(formData.pay.person, 
                  { 'attr': {'style': 'display:none'} })
              }}
              {{ form_widget(formData.pay.accountNumber,
                  { 'attr': {'style': 'display:none'} })
              }}
          {% endif %}
          <ul class="payments" data-prototype="{{ form_widget(formData.pay.payment.vars.prototype)|e('html_attr') }}">
          {% if formData.pay.payment and formData.pay.payment|length > 0 %}
            {% for payment in formData.pay.payment %}
              <li>
              {{ form_row(payment.amountPayed) }}
              {{ form_row(payment.paymentDate) }}
              {{ form_row(payment.status) }}</li>
              <br>
            {% endfor %}
          {% else %} 
            {{ form_widget(formData, 
                { 'attr': {'style': 'display:none'} })
            }}
          {% endif %}
          </ul>
      {% else %} 
        {{ form_widget(formData, 
            { 'attr': {'style': 'display:none'} })
        }}
      {% endif %}
  {% endfor %}
  </td>
  <td>
  {% for formData in personalDataForm.coachData %}
    {% if formData.vars.value.coachPerson.isCoach == true and formData.vars.value.season.seasontext == curSeason %}
        {{ form_row(formData.number) }}
        {{ form_row(formData.salary) }}
        {{ form_row(formData.category) }} 
        {{ form_row(formData.season) }}
    {% else %} 
      {{ form_widget(formData, 
          { 'attr': {'style': 'display:none'} })
      }}
    {% endif %}
  {% endfor %}
  </td>
  <td> 
  {% for formData in personalDataForm.memberData %}
    {% if formData.vars.value.memberPerson.isMember == true and formData.vars.value.season.seasontext == curSeason %}
        {{ form_row(formData.memberId) }}
        {{ form_row(formData.payment) }} 
        {{ form_row(formData.season) }}
    {% else %} 
      {{ form_widget(formData, 
          { 'attr': {'style': 'display:none'} })
      }}
    {% endif %}
  {% endfor %}
  </td>
  <td> 
  {% for formData in personalDataForm.parentData %}
    {% if formData.vars.value.parentPerson.isParent == true and formData.vars.value.season.seasontext == curSeason %}
        {{ form_row(formData.season) }}
        {{ form_row(formData.playerdata) }}
    {% else %} 
      {{ form_widget(formData, 
          { 'attr': {'style': 'display:none'} })
      }}
    {% endif %}
  {% endfor %}
  </td>
</tr>
<tr>
  <td>
      {{ form_row(personalDataForm.save)}}
  </td>
</tr>
</table>
</table>
{{ form_end(personalDataForm) }}
{% endblock %}
