{% extends 'DatabaseBundle:base:base.html.twig' %}
{% block title %}{{ personalData.name }} {{ personalData.surname }} {% endblock %}

{% block body %}
<h1>{{ personalData.name }} {{ personalData.surname }}</h1>
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/newpayment.js') }}"></script>
<script src="{{ asset('js/newmemberpayment.js') }}"></script>

{# src/DatabaseBundle/Resources/views/Default/editperson.html.twig #}
<hr>
<div align="header">
    <div class="col" align="left">
        {{ include('DatabaseBundle:season:seasonform.html.twig') }}
    </div>
    <div class="col" align="right">
        <a href="#">{% trans %} main {% endtrans %}</a>
        <a href="/person/editPictures/{{personalData.id}}">{% trans %} pictures {% endtrans %}</a>
    </div>
</div>
<hr>
{{ form_start(personalDataForm) }}
  <h2>{% trans %} personaldata {% endtrans %}</h2>
  <div class="col" align="left">
    <table>
        <tr>
            <td>{{ form_label(personalDataForm.name) }}</td>
            <td>{{ form_widget(personalDataForm.name) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(personalDataForm.surname) }}</td>
            <td>{{ form_widget(personalDataForm.surname) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(personalDataForm.nickname) }}</td>
            <td>{{ form_widget(personalDataForm.nickname) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(personalDataForm.dni) }}</td>
            <td>{{ form_widget(personalDataForm.dni) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(personalDataForm.birthday) }}</td>
            <td>{{ form_widget(personalDataForm.birthday) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(personalDataForm.sex) }} </td>
            <td>{{ form_widget(personalDataForm.sex) }} </td>
        </tr>
    </table>
  </div>
  <div class="col" align="center">
    <table>
        <tr>
            <td>{{ form_label(personalDataForm.contactData.phone) }} </td>
            <td>{{ form_widget(personalDataForm.contactData.phone) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(personalDataForm.contactData.email) }} </td>
            <td>{{ form_widget(personalDataForm.contactData.email) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(personalDataForm.contactData.address) }} </td>
            <td>{{ form_widget(personalDataForm.contactData.address) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(personalDataForm.contactData.city) }} </td>
            <td>{{ form_widget(personalDataForm.contactData.city) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(personalDataForm.contactData.zipcode) }} </td>
            <td>{{ form_widget(personalDataForm.contactData.zipcode) }} </td>
        </tr>
        <tr>
            <td>{{ form_label(personalDataForm.contactData.province) }} </td>
            <td>{{ form_widget(personalDataForm.contactData.province) }} </td>
        </tr>
    </table>
  </div>
  <div class="col" align="right">
      {{ include('DatabaseBundle:journal:showfirstentries.html.twig') }}
      <br>
      <table align="left">
        <tr class="journal">
            <td class="journaltext">
      <a href="#" data-toggle="modal" data-target="#addEntry">{% trans %} addjournal {% endtrans %}</a>
            </td>
            <td class="journaltext">
      <a href="#" data-toggle="modal" data-target="#showEntries">{% trans %} showmore {% endtrans %}</a>
            </td>
        </tr>
      </table>
  </div>
  {{ include('DatabaseBundle:journal:editentries.html.twig') }}
  <hr>
  <h2>
  {% set playerPerson = "" %}
  {% for formData in personalDataForm.playerPerson %}
      {% if formData.vars.value.playerData.season.seasontext == curSeason %}
        {{ form_row(formData.isPlayer, {'attr': {'onchange': 'return submit();'}}) }}
        {% set playerPerson = formData %}
      {% else %} 
        {{ form_widget(formData, 
            { 'attr': {'style': 'display:none'} })
        }}
      {% endif %}
  {% endfor %}
  </h2>
  {% if playerPerson.vars.value.isPlayer == 1 %}
    <div class="col" align="left">
      {{ form_row(playerPerson.playerData.number) }}
      {{ form_row(playerPerson.playerData.category) }}
      {% do playerPerson.playerData.season.setRendered() %}
      {{ form_row(playerPerson.playerData.datedata.active) }}
      {{ form_row(playerPerson.playerData.datedata.joiningDate) }}
      {{ form_row(playerPerson.playerData.datedata.leavingDate) }}
    </div>
    <div class="col" align="center">
              {% if underage == 'true' %}
                  {{ form_row(playerPerson.playerData.parentdata) }}
              {% else %}
                  {% do playerPerson.playerData.parentdata.setRendered() %}
              {% endif %}
    </div>
    {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ACCOUNTING") %}
    <div class="col" align="right">
              {% if playerPerson.playerData.pay.activepayment|length > 0 %}
                  <a href="/person/showPayments/{{personalData.id}}/{{curSeason.id}}">{% trans %} showpayments {% endtrans %}</a>
              {% endif %}
              {% do playerPerson.playerData.pay.setRendered() %}
              {% do playerPerson.playerData.pay.activepayment.setRendered() %}
              {{ form_row(playerPerson.playerData.pay.wayOfPayment) }}
              {% if isPlayerBank == 'true' %}
                  {{ form_row(playerPerson.playerData.pay.person) }}
                  {{ form_row(playerPerson.playerData.pay.accountNumber) }}
              {% else %}
                  {% do playerPerson.playerData.pay.person.setRendered() %}
                  {% do playerPerson.playerData.pay.accountNumber.setRendered() %}
              {% endif %}
              <ul class="playerpayments" data-prototype="{{ form_widget(playerPerson.playerData.pay.activepayment.vars.prototype)|e('html_attr') }}">
              {% if playerPerson.playerData.pay.activepayment and playerPerson.playerData.pay.activepayment|length > 0 %}
                {% for p in playerPerson.playerData.pay.activepayment %}
                      <li>
                      {{ form_row(p.payment.amountPayed) }}
                      {{ form_row(p.payment.paymentDate) }}
                      {{ form_row(p.payment.status) }}
                      </li>
                  <br>
                {% endfor %}
              {% endif %}
              </ul>
    </div>
    {% endif %}
  {% else %}
    {{ form_widget(playerPerson.playerData,
        { 'attr': {'style': 'display:none'} })
    }}
  {% endif %}
  <hr>
  <h2>
  {% set coachPerson = "" %}
  {% for formData in personalDataForm.coachPerson %}
      {% if formData.vars.value.coachData.season.seasontext == curSeason %}
        {{ form_row(formData.isCoach, {'attr': {'onchange': 'return submit();'}}) }}
        {% set coachPerson = formData %}
      {% else %} 
        {{ form_widget(formData, 
            { 'attr': {'style': 'display:none'} })
        }}
      {% endif %}
  {% endfor %}
  </h2>
  <div class="col" align="left">
    {% if coachPerson.vars.value.isCoach == true %}
        {{ form_row(coachPerson.coachData.number) }}
        {{ form_row(coachPerson.coachData.salary) }}
        {{ form_row(coachPerson.coachData.category) }} 
        {% do coachPerson.coachData.season.setRendered() %}
        {{ form_row(coachPerson.coachData.datedata.active) }}
        {{ form_row(coachPerson.coachData.datedata.joiningDate) }}
        {{ form_row(coachPerson.coachData.datedata.leavingDate) }}
    {% else %} 
      {{ form_widget(coachPerson, 
          { 'attr': {'style': 'display:none'} })
      }}
    {% endif %}
  </div>
  <hr>
  <h2>
  {% set memberPerson = "" %}
  {% for formData in personalDataForm.memberPerson %}
      {% if formData.vars.value.memberData.season.seasontext == curSeason %}
        {{ form_row(formData.isMember, {'attr': {'onchange': 'return submit();'}}) }}
        {% set memberPerson = formData %}
      {% else %} 
        {{ form_widget(formData, 
            { 'attr': {'style': 'display:none'} })
        }}
      {% endif %}
  {% endfor %}
  </h2>
  <div class="col" align="left">
  {% if memberPerson.vars.value.isMember == true %}
      {{ form_row(memberPerson.memberData.memberId) }}
      {% do memberPerson.memberData.season.setRendered() %}
      {{ form_row(memberPerson.memberData.datedata.active) }}
      {{ form_row(memberPerson.memberData.datedata.joiningDate) }}
      {{ form_row(memberPerson.memberData.datedata.leavingDate) }}
  </div>
  {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ACCOUNTING") %}
  <div class="col" align="right">
          {% if memberPerson.memberData.pay.activepayment|length > 0 %}
              <a href="/person/showPayments/{{personalData.id}}/{{curSeason.id}}">{% trans %} showpayments {% endtrans %}</a>
          {% endif %}
          {% do memberPerson.memberData.pay.setRendered() %}
          {% do memberPerson.memberData.pay.activepayment.setRendered() %}
          {{ form_row(memberPerson.memberData.pay.wayOfPayment) }}
          {% if isMemberBank == 'true' %}
              {{ form_row(memberPerson.memberData.pay.person) }}
              {{ form_row(memberPerson.memberData.pay.accountNumber) }}
          {% else %} 
              {% do memberPerson.memberData.pay.person.setRendered() %}
              {% do memberPerson.memberData.pay.accountNumber.setRendered() %}
          {% endif %}
          <ul class="memberpayments" data-prototype="{{ form_widget(memberPerson.memberData.pay.activepayment.vars.prototype)|e('html_attr') }}">
          {% if memberPerson.memberData.pay.activepayment and memberPerson.memberData.pay.activepayment|length > 0 %}
            {% for p in memberPerson.memberData.pay.activepayment %}
              <li>
              {{ form_row(p.payment.amountPayed) }}
              {{ form_row(p.payment.paymentDate) }}
              {{ form_row(p.payment.status) }}</li>
              <br>
            {% endfor %}
          {% else %} 
            {{ form_widget(memberPerson.memberData, 
                { 'attr': {'style': 'display:none'} })
            }}
          {% endif %}
          </ul>
  </div>
  {% else %}
    {% do memberPerson.memberData.pay.setRendered() %}
  {% endif %}
    {% else %} 
      {{ form_widget(memberPerson.memberData, 
          { 'attr': {'style': 'display:none'} })
      }}
  {% endif %}
  <hr>
  <h2>
  {% set parentPerson = "" %}
  {% for formData in personalDataForm.parentPerson %}
      {% if formData.vars.value.parentData.season.seasontext == curSeason %}
        {{ form_row(formData.isParent, {'attr': {'onchange': 'return submit();'}}) }}
        {% set parentPerson = formData %}
      {% else %} 
        {{ form_widget(formData, 
            { 'attr': {'style': 'display:none'} })
        }}
      {% endif %}
  {% endfor %}
  </h2>
  <div class="col" align="left">
  {% if parentPerson.vars.value.isParent == true %}
      {% do parentPerson.parentData.season.setRendered() %}
      {{ form_row(parentPerson.parentData.playerdata) }}
  {% else %} 
    {{ form_widget(parentPerson.parentData, 
        { 'attr': {'style': 'display:none'} })
    }}
  {% endif %}
  </div>
  <hr>
  {{ form_row(personalDataForm.save)}}
{{ form_end(personalDataForm) }}
{{ include('DatabaseBundle:journal:showentries.html.twig') }}
{{ include('DatabaseBundle:journal:addentry.html.twig') }}
{% endblock %}
