{% extends 'DatabaseBundle:base:base.html.twig' %}
{% block title %}{{ personalData.name }} {{ personalData.surname }} {% endblock %}

{% block body %}
<h1>{{ personalData.name }} {{ personalData.surname }}</h1>
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/newpayment.js') }}"></script>
<script src="{{ asset('js/newmemberpayment.js') }}"></script>

{# src/DatabaseBundle/Resources/views/Default/editperson.html.twig #}
<hr>
<div align="header">
    <div class="col" align="left">
        {{ include('DatabaseBundle:season:seasonform.html.twig') }}
    </div>
    <div class="col" align="right">
        <a href="#">{% trans %} main {% endtrans %}</a>
        <a href="/person/editPictures/{{personalData.id}}">{% trans %} pictures {% endtrans %}</a>
    </div>
</div>
<hr>
{{ form_start(personalDataForm) }}
  <h2>{% trans %} personaldata {% endtrans %}</h2>
  <div class="col" align="left">
    {{ form_row(personalDataForm.name) }}
    {{ form_row(personalDataForm.surname) }}
    {{ form_row(personalDataForm.nickname) }}
    {{ form_row(personalDataForm.dni) }}
    {{ form_row(personalDataForm.birthday) }}
    {{ form_row(personalDataForm.sex) }}
  </div>
  <div class="col" align="center">
    {{ form_row(personalDataForm.contactData.phone) }}
    {{ form_row(personalDataForm.contactData.email) }}
    {{ form_row(personalDataForm.contactData.address) }}
    {{ form_row(personalDataForm.contactData.city) }}
    {{ form_row(personalDataForm.contactData.zipcode) }}
    {{ form_row(personalDataForm.contactData.province) }}
  </div>
  <div class="col" align="right">
      {{ include('DatabaseBundle:journal:showfirstentries.html.twig') }}
      <a href="#" data-toggle="modal" data-target="#addEntry">{% trans %} addjournal {% endtrans %}</a>
      <a href="#" data-toggle="modal" data-target="#showEntries">{% trans %} showmore {% endtrans %}</a>
  </div>
  <hr>
  <h2>
  {% for formData in personalDataForm.playerPerson %}
      {% if formData.vars.value.playerData.season.seasontext == curSeason %}
        {{ form_row(formData.isPlayer) }}
      {% else %} 
        {{ form_widget(formData, 
            { 'attr': {'style': 'display:none'} })
        }}
      {% endif %}
  {% endfor %}
  </h2>
  <div class="col" align="left">
    {% for formData in personalDataForm.playerData %}
        {% if formData.vars.value.playerPerson.isPlayer == true and formData.vars.value.season.seasontext == curSeason %}
            {{ form_row(formData.number) }}
            {{ form_row(formData.category) }} 
            {% do formData.season.setRendered() %}
            {{ form_row(formData.datedata.active) }}
            {{ form_row(formData.datedata.joiningDate) }}
            {{ form_row(formData.datedata.leavingDate) }}
  </div>
  <div class="col" align="center">
            {% if underage == 'true' %}
                {{ form_row(formData.parentdata) }}
            {% else %}
                {% do formData.parentdata.setRendered() %}
            {% endif %}
  </div>
  {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ACCOUNTING") %}
  <div class="col" align="right">
            {% if formData.pay.activepayment|length > 0 %}
                <a href="/person/showPayments/{{personalData.id}}/{{curSeason.id}}">{% trans %} showpayments {% endtrans %}</a>
            {% endif %}
            {% do formData.pay.setRendered() %}
            {% do formData.pay.activepayment.setRendered() %}
            {{ form_row(formData.pay.wayOfPayment) }}
            {% if isPlayerBank == 'true' %}
                {{ form_row(formData.pay.person) }}
                {{ form_row(formData.pay.accountNumber) }}
            {% else %} 
                {% do formData.pay.person.setRendered() %}
                {% do formData.pay.accountNumber.setRendered() %}
            {% endif %}
            <ul class="playerpayments" data-prototype="{{ form_widget(formData.pay.activepayment.vars.prototype)|e('html_attr') }}">
            {% if formData.pay.activepayment and formData.pay.activepayment|length > 0 %}
              {% for p in formData.pay.activepayment %}
                    <li>
                    {{ form_row(p.payment.amountPayed) }}
                    {{ form_row(p.payment.paymentDate) }}
                    {{ form_row(p.payment.status) }}
                    </li>
                <br>
              {% endfor %}
            {% else %} 
              {{ form_widget(formData, 
                  { 'attr': {'style': 'display:none'} })
              }}
            {% endif %}
            </ul>
  </div>
  {% else %}
    {% do formData.pay.setRendered() %}
  {% endif %}
        {% else %} 
          {{ form_widget(formData, 
              { 'attr': {'style': 'display:none'} })
          }}
        {% endif %}
  {% endfor %}
  <hr>
  <h2>
  {% for formData in personalDataForm.coachPerson %}
      {% if formData.vars.value.coachData.season.seasontext == curSeason %}
        {{ form_row(formData.isCoach) }}
      {% else %} 
        {{ form_widget(formData, 
            { 'attr': {'style': 'display:none'} })
        }}
      {% endif %}
  {% endfor %}
  </h2>
  <div class="col" align="left">
  {% for formData in personalDataForm.coachData %}
    {% if formData.vars.value.coachPerson.isCoach == true and formData.vars.value.season.seasontext == curSeason %}
        {{ form_row(formData.number) }}
        {{ form_row(formData.salary) }}
        {{ form_row(formData.category) }} 
        {% do formData.season.setRendered() %}
        {{ form_row(formData.datedata.active) }}
        {{ form_row(formData.datedata.joiningDate) }}
        {{ form_row(formData.datedata.leavingDate) }}
    {% else %} 
      {{ form_widget(formData, 
          { 'attr': {'style': 'display:none'} })
      }}
    {% endif %}
  {% endfor %}
  </div>
  <hr>
  <h2>
  {% for formData in personalDataForm.memberPerson %}
      {% if formData.vars.value.memberData.season.seasontext == curSeason %}
        {{ form_row(formData.isMember) }}
      {% else %} 
        {{ form_widget(formData, 
            { 'attr': {'style': 'display:none'} })
        }}
      {% endif %}
  {% endfor %}
  </h2>
  <div class="col" align="left">
  {% for formData in personalDataForm.memberData %}
    {% if formData.vars.value.memberPerson.isMember == true and formData.vars.value.season.seasontext == curSeason %}
        {{ form_row(formData.memberId) }}
        {% do formData.season.setRendered() %}
        {{ form_row(formData.datedata.active) }}
        {{ form_row(formData.datedata.joiningDate) }}
        {{ form_row(formData.datedata.leavingDate) }}
  </div>
  {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_ACCOUNTING") %}
  <div class="col" align="right">
            {% if formData.pay.activepayment|length > 0 %}
                <a href="/person/showPayments/{{personalData.id}}/{{curSeason.id}}">{% trans %} showpayments {% endtrans %}</a>
            {% endif %}
            {% do formData.pay.setRendered() %}
            {% do formData.pay.activepayment.setRendered() %}
            {{ form_row(formData.pay.wayOfPayment) }}
            {% if isMemberBank == 'true' %}
                {{ form_row(formData.pay.person) }}
                {{ form_row(formData.pay.accountNumber) }}
            {% else %} 
                {% do formData.pay.person.setRendered() %}
                {% do formData.pay.accountNumber.setRendered() %}
            {% endif %}
            <ul class="memberpayments" data-prototype="{{ form_widget(formData.pay.activepayment.vars.prototype)|e('html_attr') }}">
            {% if formData.pay.activepayment and formData.pay.activepayment|length > 0 %}
              {% for p in formData.pay.activepayment %}
                <li>
                {{ form_row(p.payment.amountPayed) }}
                {{ form_row(p.payment.paymentDate) }}
                {{ form_row(p.payment.status) }}</li>
                <br>
              {% endfor %}
            {% else %} 
              {{ form_widget(formData, 
                  { 'attr': {'style': 'display:none'} })
              }}
            {% endif %}
            </ul>
  </div>
  {% else %}
    {% do formData.pay.setRendered() %}
  {% endif %}
    {% else %} 
      {{ form_widget(formData, 
          { 'attr': {'style': 'display:none'} })
      }}
    {% endif %}
  {% endfor %}
  <hr>
  <h2>
  {% for formData in personalDataForm.parentPerson %}
      {% if formData.vars.value.parentData.season.seasontext == curSeason %}
        {{ form_row(formData.isParent) }}
      {% else %} 
        {{ form_widget(formData, 
            { 'attr': {'style': 'display:none'} })
        }}
      {% endif %}
  {% endfor %}
  </h2>
  <div class="col" align="left">
  {% for formData in personalDataForm.parentData %}
    {% if formData.vars.value.parentPerson.isParent == true and formData.vars.value.season.seasontext == curSeason %}
        {% do formData.season.setRendered() %}
        {{ form_row(formData.playerdata) }}
    {% else %} 
      {{ form_widget(formData, 
          { 'attr': {'style': 'display:none'} })
      }}
    {% endif %}
  {% endfor %}
  </div>
  <hr>
  {{ form_row(personalDataForm.save)}}
{{ form_end(personalDataForm) }}
{{ include('DatabaseBundle:journal:showentries.html.twig') }}
{{ include('DatabaseBundle:journal:addentry.html.twig') }}
{% endblock %}
