{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %} Nuevo miembro {% endblock %}

{% block body %}
<h1>Nuevo miembro</h1>

{# src/DatabaseBundle/Resources/views/person/new.html.twig #}

{{ form_start(personalDataForm) }}
<table style="width:33%">
  <tr>
    <td>
      {{ form_row(personalDataForm.name) }}
      {{ form_row(personalDataForm.surname) }}
      {{ form_row(personalDataForm.nickname) }}
      {{ form_row(personalDataForm.dni) }}
      {{ form_row(personalDataForm.birthday) }}
      {{ form_row(personalDataForm.sex) }}
    <hr> 
      {{ form_row(personalDataForm.contactData.phone) }}
      {{ form_row(personalDataForm.contactData.email) }}
      {{ form_row(personalDataForm.contactData.address) }}
      {{ form_row(personalDataForm.contactData.city) }}
      {{ form_row(personalDataForm.contactData.zipcode) }}
      {{ form_row(personalDataForm.contactData.province) }}
    <hr>
      {{ form_row(personalDataForm.save) }}
    </td>
  </tr>
</table>
{% endblock %}

