{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %} Nuevo miembro {% endblock %}

{% block body %}
<h1>Nuevo miembro</h1>

{# src/DatabaseBundle/Resources/views/person/new.html.twig #}

<table style="width:100%">
  {{ form_start(wholePersonForm) }}
  <tr>
    <td>
      {{ form_row(wholePersonForm.personalData) }}
    </td>
  <tr>
    <td>
      {{ form_row(wholePersonForm.save) }}
    </td>
  </tr>
  {{ form_end(wholePersonForm) }}
  {{ form_start(fileImportForm) }}
</table>
<table>
  <tr>
    <td>
      {{ form_row(fileImportForm.pathToFile) }}
    </td>
    <td>
      {{ form_row(fileImportForm.upload) }}
    </td>
    <td>
      {{ form_row(fileImportForm.reset) }}
    </td>
  </tr>
  {{ form_end(fileImportForm) }}
</table>
{% endblock %}

