{% extends 'DatabaseBundle:base:base.html.twig' %}

{% block title %}
{% if edit %}
  {% trans %} editseason {% endtrans %}
{% else %}
  {% trans %} newseason {% endtrans %}
{% endif %}
{% endblock %}

{% block body %}
<h1>
{% if edit %}
  {% trans %} editseason {% endtrans %}
{% else %}
  {% trans %} newseason {% endtrans %}
{% endif %}
</h1>

{# src/DatabaseBundle/Resources/views/season/new.html.twig #}
{{ form_start(seasonForm) }}
<table>
    {% if error %}
        <tr>
        {% trans %} defaultseasonerror {% endtrans %}
        </tr>
    {% endif %}
  <tr>
    <td>
      {{ form_row(seasonForm.startingyear) }}
    </td>
  </tr>
  <tr>
    {% if error %}
    <td>
      {{ form_row(seasonForm.defaultseason, { 'attr': {'checked': 'checked'} }) }}
    </td>
    {% else %}
    <td>
      {{ form_row(seasonForm.defaultseason) }}
    </td>
    {% endif %}
  </tr>
</table>
{{ form_end(seasonForm) }}
{% endblock %}
